<div class="row">
	<div class="col-md-12">
		<input type="text" class="form-control" ng-model="searchText" placeholder="Search starter kits"><br>
	</div>
	<div class="col-md-4" ng-repeat="starter in starters | filter: {name:searchText}">
		<div class="panel panel-default text-center">
			<div class="panel-heading">{{starter.name}}</div>
			<div class="panel-body">
				<a href="#/detail/{{starter.id}}">
					<img ng-src="/images/{{starter.image}}" alt="">
				</a>
			</div>
		</div>
	</div>
</div>