<section>
	<div class="jumbotron text-center">
		<h1>microscopejs</h1>
		<p>Fullstack JavaScript starter kits & libraries</p>
		<p><a class="btn btn-primary btn-lg" href="https://github.com/microscopejs/" role="button">GitHub</a></p>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-info text-center">
				<div class="panel-heading">Server</div>
				<div class="panel-body">
					<a href="#/server"><img src="/images/nodejs.png" alt=""></a>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="panel panel-info text-center">
				<div class="panel-heading">Frontend</div>
				<div class="panel-body">
					<a href="#/frontend"><img src="/images/html5.jpg" alt=""></a>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="panel panel-info text-center">
				<div class="panel-heading">Mobile</div>
				<div class="panel-body">
					<a href="#/mobile"><img src="/images/phonegap.png" alt=""></a>
				</div>
			</div>
		</div>
	</div>
</section>