<section id="team" ng-controller="TeamCtrl as vm">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>microscope team</h1>
      </div>
      <div class="col-md-3" ng-repeat="member in vm.team">
        <div class="panel panel-primary text-center">
          <div class="panel-heading">{{member.firstname}} {{member.lastname }}</div>
          <div class="panel-body">
            <a href="https://github.com/{{member.githubLogin}}">
              <img ng-src="images/team/{{member.githubLogin}}.jpg" alt="">
            </a>
          </div>
          <div class="panel-footer">
            <a class="btn btn-primary" href="https://github.com/{{member.githubLogin}}"><i class="fa fa-github-alt"></i> Github</a>
            <a class="btn btn-primary" href="https://twitter.com/{{member.twitterLogin}}"><i class="fa fa-twitter"></i> twitter</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>