<section id="preview" ng-controller="PreviewCtrl as vm">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        
        <div class="btn-group" role="group" aria-label="">
          <button type="button" ng-click="vm.device = 'iphone6plus'" class="btn btn-default">Iphone</button>
          <button type="button" ng-click="vm.device = 'htc'" class="btn btn-default">Htc</button>
          <button type="button" ng-click="vm.device = 'ipad'"  class="btn btn-default">Ipad</button>
      </div>

        <preview iframe-url="vm.url" device="vm.device">
          <span us-spinner="{radius:30, width:8, length: 16}" spinner-on="isLoading"></span>
        </preview>

      </div>
    </div>
  </div>
</section>