.navbar {
  margin-bottom: 0;
}

footer {
  background-color: #333333;
  color: white;
  padding: 20px 0;
  margin-top: 50px;
}

footer h4 {
  text-align: center;
}

.graypanel{
  background-color: #333333; 
  margin-bottom: 50px; 
  padding: 50px; 
  color: white;
}