<section>
	<div class="page-header">
		<h1>Frontend starter kits</h1>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-info text-center">
				<div class="panel-heading">AngularJS</div>
				<div class="panel-body">
					<a href="https://github.com/microscope-frontend/microscope-angular"><img src="/images/angular.jpg" alt=""></a>
				</div>
				<div class="panel-footer"><a href="http://apps.microscopejs.com:32772/#/">demo</a></div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="panel panel-info text-center">
				<div class="panel-heading">Backbone React</div>
				<div class="panel-body">
					<a href="https://github.com/microscope-frontend/microscope-backbone-react"><img src="/images/backbone.png" alt=""></a>
				</div>
				<div class="panel-footer"><a href="http://apps.microscopejs.com:32773/#/">demo</a></div>
			</div>
		</div>
	</div>
</section>