<section>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary text-center">
				<div class="panel-heading">ionic blank</div>
				<div class="panel-body">
					<a href="https://github.com/microscope-mobile/ionic-blank">
						<img src="/images/ionic.jpg" alt="" width="100%">
					</a>
				</div>
				<div class="panel-footer"><a class="btn btn-primary" href="#/preview/1">demo</a></div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="panel panel-primary text-center">
				<div class="panel-heading">ionic tabs</div>
				<div class="panel-body">
					<a href="https://github.com/microscope-mobile/ionic-tabs">
						<img src="/images/ionic.jpg" alt="" width="100%">
					</a>
				</div>
				<div class="panel-footer"><a class="btn btn-primary" href="#/preview/3">demo</a></div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="panel panel-primary text-center">
				<div class="panel-heading">ionic sidemenu</div>
				<div class="panel-body">
					<a href="https://github.com/microscope-mobile/ionic-sidemenu">
						<img src="/images/ionic.jpg" alt="" width="100%">
					</a>
				</div>
				<div class="panel-footer"><a class="btn btn-primary" href="#/preview/2">demo</a></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary text-center">
				<div class="panel-heading">ionic maps</div>
				<div class="panel-body">
					<a href="https://github.com/microscope-mobile/ionic-maps">
						<img src="/images/ionic.jpg" alt="" width="100%">
					</a>
				</div>
				<div class="panel-footer"><a class="btn btn-primary" href="http://apps.microscopejs.com:32776/">demo</a></div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-primary text-center">
				<div class="panel-heading">ionic firebase</div>
				<div class="panel-body">
					<a href="https://github.com/microscope-mobile/ionic-firebase">
						<img src="/images/ionic.jpg" alt="" width="100%">
					</a>
				</div>
				<div class="panel-footer"><a class="btn btn-primary" href="http://apps.microscopejs.com:32775/">demo</a></div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-primary text-center">
				<div class="panel-heading">WinJS navbar</div>
				<div class="panel-body">
					<a href="https://github.com/microscope-mobile/winjs-navbar">
						<img src="/images/winjs.png" alt="" width="50%">
					</a>
				</div>
				<div class="panel-footer"><a class="btn btn-primary" href="http://apps.microscopejs.com:32780/#/">demo</a></div>
			</div>
		</div>
	</div>
</section>