<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image: url(/images/bgslide.jpg); background-size: 100%;">
      <img src="/images/bgslide.jpg">
      <div class="carousel-caption" style="top: 50px;">
        <h3>MicroscopeJS</h3>
        <img src="/images/logoslide.jpg" style="width: 300px; margin: 20px 0;">
        <p style="text-transform: uppercase;">texte à compléter</p>
        <a href="#" class="btn btn-primary btn-lg" role="button" style="margin-top: 20px;">Github</a>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="graypanel" style="background-color: #232323; margin-bottom: 50px; padding: 50px; color: white;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="text-center">Fullstack JavaScript starter kits & libraries</h2>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <img src="/images/server.png" alt="" class="img" width="200px">
      <h2>Server</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto earum explicabo cum unde quisquam temporibus modi deleniti, beatae repellat rerum nisi obcaecati commodi expedita, aliquid accusamus reiciendis corporis totam quaerat.</p>
    </div>
    <div class="col-md-4 text-center">
      <img src="/images/frontend.png" alt="" class="img" width="200px">
      <h2>Front-end</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut saepe, itaque facilis velit incidunt, repellat eaque voluptatem quis provident cupiditate obcaecati aliquam corrupti laudantium et doloremque, ipsam maiores perspiciatis cum!</p>
    </div>
    <div class="col-md-4 text-center">
      <img src="/images/mobile.png" alt="" class="img" width="200px">
      <h2>Mobile</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, doloremque esse nam temporibus rem voluptas magnam sunt ab adipisci vero eligendi ex possimus, nemo, voluptatum recusandae architecto veritatis, laudantium harum.</p>
    </div>
  </div>
</div>
